<nz-modal [(nzVisible)]="isVisible" nzTitle="Import CSV" (nzOnCancel)="handleCancel()" [nzWidth]="800"
          [nzOkDisabled]="setOfCheckedId.size === 0" (nzOnOk)="handleOk()"
          nzOkText="Import {{ setOfCheckedId.size }} elements">
  <ng-container *nzModalContent>

    <div class="table-buttons">
      <nz-upload
        [nzBeforeUpload]="uploadLocalFile">
        <button nz-button>
          <i nz-icon nzType="upload"></i>
          Import Binance CSV
        </button>
      </nz-upload>
    </div>

    <nz-table
      #rowSelectionTable
      nzShowSizeChanger
      [nzData]="importInvestLines">
      <thead>
      <tr>
        <th nzWidth="10%" [nzChecked]="allCheckedState" [nzIndeterminate]="intermediateCheckState"
            (nzCheckedChange)="onAllChecked($event)"></th>
        <th nzWidth="30%">Date</th>
        <th nzWidth="30%">Source</th>
        <th nzWidth="30%">Destination</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td
          [nzDisabled]="!data.enabled"
          [nzChecked]="setOfCheckedId.has(data.importedLine.id)"
          (nzCheckedChange)="onItemChecked(data.importedLine.id, $event)"
        ></td>
        <td>{{ data.importedLine.investDate | date }}</td>
        <td>{{ data.importedLine.valueSpent }} {{ data.importedLine.fromCurrency }}</td>
        <td>{{ data.importedLine.valueAcquired }} {{ data.importedLine.toCurrency }}</td>
      </tr>
      </tbody>
    </nz-table>
  </ng-container>
</nz-modal>
