<nz-modal [(nzVisible)]="isVisible" nzTitle="Add invest" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
          [nzOkDisabled]="!validateForm.valid">
  <ng-container *nzModalContent>
    <form nz-form [nzLayout]="'horizontal'" [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">Invest date</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="Please input valid past date">
          <nz-date-picker formControlName="investDateCtrl" (ngModelChange)="changeInvestDate($event)"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">Coin</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="Please input valid coin">
          <nz-select formControlName="coinCtrl" nzShowSearch nzAllowClear
                     [nzCustomTemplate]="selectCoinTemplate" (ngModelChange)="changeSelectedCoin($event)">
            <nz-option *ngFor="let coin of availableCoins" nzCustomContent [nzLabel]="coin.name" [nzValue]="coin">
              {{coin.name}}
            </nz-option>
          </nz-select>
          <ng-template #selectCoinTemplate let-selected>
            <img [src]="this.selectedCoin?.image"/> {{ selected.nzLabel }}
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">Currency</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="Please input valid currency">
          <nz-select formControlName="sourceCurrencyCtrl" (ngModelChange)="changeMarketCurrency($event)" nzShowSearch nzAllowClear>
            <nz-option *ngFor="let marketCurrency of marketCurrencies" nzCustomContent [nzLabel]="marketCurrency"
                       [nzValue]="marketCurrency">
              {{marketCurrency | uppercase }}
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">Value exchanged</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="Please input valid value">
          <nz-input-number formControlName="valueBoughtCtrl" (ngModelChange)="changeValueExchanged($event)" [nzMin]="0"
                           [nzStep]="1"></nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">Conversion rate</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="Please input valid conversion rate">
          <nz-input-number formControlName="conversionRateCtrl"[nzMin]="0"
                           [nzStep]="1" [nzDisabled]="!doesCoinSettingsAreValid()">
          </nz-input-number>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
