<app-add-invest></app-add-invest>
<app-import-invest></app-import-invest>

<div>
  Total Gain: {{ totalGain | number }} {{ this.aggregationMarketCurrency | uppercase }}
</div>
<div class="table-buttons">
  <button nz-button [nzType]="'primary'" (click)="showAddInvestModal()">
    <i nz-icon nzType="plus" nzTheme="outline"></i>
    <span>Add invest</span>
  </button>

  <button nz-button [nzType]="'default'" (click)="showImportInvestModal()">
    <i nz-icon nzType="import" nzTheme="outline"></i>
    <span>Import CSV</span>
  </button>
</div>

<nz-table #table [nzData]="investElements">
  <thead>
  <tr>
    <th
      *ngFor="let header of headers"
      [nzSortOrder]="header.sortOrder"
      [nzSortFn]="header.sortFn"
      [nzSortDirections]="header.sortDirections"
      [nzShowFilter]="header.filterFn !== undefined"
      [nzFilters]="header.listOfFilters"
      [nzFilterFn]="header.filterFn"
      [nzFilterMultiple]="header.filterMultiple"
    >
      {{ header.name }}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let investElement of table.data">
    <td>{{ investElement.investDate | date }}</td>
    <td><img
      src="{{ this.todayCoinsMarketPrices.get(investElement.coinId).image.small }}"/> {{ investElement.coinId | uppercase }}
    </td>
    <td>{{ investElement.valueAcquired }}</td>
    <td>{{ investElement.conversionRate | number }} {{ investElement.sourceCurrency | uppercase }}</td>
    <td
      [ngClass]="this.investElementsGains.get(investElement).gainValue >= 0 ? 'positive' : 'negative'">
      {{ this.investElementsGains.get(investElement).gainValue | number}} {{ investElement.sourceCurrency | uppercase }}
    </td>
    <td
      [ngClass]="this.investElementsGains.get(investElement).gainRate >= 0 ? 'positive' : 'negative'">
      {{ this.investElementsGains.get(investElement).gainRate | number }}%
    </td>
    <td>
      <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(investElement)">Delete</a>
    </td>
  </tr>
  </tbody>
</nz-table>

