<app-add-invest></app-add-invest>
<app-import-invest></app-import-invest>

<div class="">
  <button nz-button [nzType]="'primary'" (click)="showAddInvestModal()">
    <i nz-icon nzType="plus" nzTheme="outline"></i>
    <span>Add invest</span>
  </button>

  <button nz-button [nzType]="'default'" (click)="showImportInvestModal()">
    <i nz-icon nzType="import" nzTheme="outline"></i>
    <span>Import CSV</span>
  </button>
</div>

<nz-table #table [nzData]="investElements">
  <thead>
  <tr>
    <th>Date de l'investissement</th>
    <th>Cryptomonnaie</th>
    <th>Valeur echangée</th>
    <th>Valeur d'achat</th>
    <th>Gain net</th>
    <th>Gain %</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let investElement of table.data">
      <td>{{ investElement.investDate | date }}</td>
      <td><img
        src="{{ this.todayCoinsMarketPrices.get(investElement.coinId).image.small }}"/> {{ investElement.coinId | uppercase }}
      </td>
      <td>{{ investElement.valueAcquired }}</td>
      <td>{{ investElement.conversionRate | number }} {{ investElement.sourceCurrency | uppercase }}</td>
      <td
        [ngClass]="this.investElementsGains.get(investElement).gainValue >= 0 ? 'positive' : 'negative'">
        {{ this.investElementsGains.get(investElement).gainValue | number}} {{ investElement.sourceCurrency | uppercase }}
      </td>
      <td
        [ngClass]="this.investElementsGains.get(investElement).gainRate >= 0 ? 'positive' : 'negative'">
        {{ this.investElementsGains.get(investElement).gainRate | number }}%
      </td>
    </tr>
  </tbody>
</nz-table>

