<app-add-invest></app-add-invest>
<div class="">
  <button nz-button [nzType]="'primary'" (click)="showModal()">
    <i nz-icon nzType="plus" nzTheme="outline"></i>
    <span>Add invest</span>
  </button>
</div>

<nz-table #basicTable [nzData]="investElements">
  <thead>
  <tr>
    <th>Date de l'investissement</th>
    <th>Cryptomonnaie</th>
    <th>Fiat</th>
    <th>Valeur d'achat</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let invest of basicTable.data">
    <td>{{ invest.dateInvest | date }}</td>
    <td><img src="{{ invest.coinLogoUrl }}"/> {{ invest.coinId | uppercase }}</td>
    <td>{{ invest.sourceCurrency | uppercase }}</td>
    <td>{{ invest.conversionRate | number }} {{ invest.sourceCurrency | uppercase }}</td>
  </tr>
  </tbody>
</nz-table>
